.base-container {
  background-color: #F1F4F5  ;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    color: orange;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
  }

  .form {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;

    .form-group {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: fit-content;
      label {
        font-size: 16px;
      }
      input {
        margin-top: 6px;
        min-width: 18em;
        height: 37px;
        padding: 0px 10px;
        font-size: 16px;
        background-color: #f3f3f3;
        border: 5;
        border-radius: 4px;
        margin-bottom: 10px;
        transition: all 250ms ease-in-out;

        &:focus {
          outline: none;
          box-shadow: 0px 0px 12px 0.8px #3474dbb2;
        }
      }
    }
  }

  .btn {
    background-color: #6495ed;
    padding: 5px 20px;
    color: white;
    cursor: pointer;
    border: 10;
    min-width: 18em;
    height: 37px;
    font-size: 16px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 12px 0.8px;
  }

  .youtube {
    background-color: black;
    color: white;
  }

  .instagram {
    background-color: red;
    color: white;
  }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.modal-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    transform: translateZ(0);
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2.5em 1.5em 1.5em 1.5em;
    background-color: #ffffff;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 500px) {
    /* Center the Modal! */
    .modal-area {
        left: 50%;
        top: 50%;
        height: auto;
        transform: translate(-50%, -50%);
        max-width: 30em;
        max-height: calc(100% - 1em);
    }
}

._modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em;
    line-height: 1;
    background: #f6f6f7;
    border: 0;
    box-shadow: 0;
    cursor: pointer;
}

._modal-close-icon {
    width: 25px;
    height: 25px;
    fill: transparent;
    stroke: black;
    stroke-linecap: round;
    stroke-width: 2;
}

.modal-body {
    padding-top: 0.25em;
}

._hide-visual {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

.scroll-lock {
    overflow: hidden;
    margin-right: 17px;
}
